.login-form {
    margin-top: 8%;
    margin-bottom: 10.8%;
    display: flex;
    justify-content: center;
    /*!*margin: 0;*!*/
    /*!*position: absolute;*!*/
    /*!*top: 50%;*!*/
    /*!*-ms-transform: translateY(-50%);*!*/
    /*!*transform: translateY(-50%);*!*/
}

/*#footer {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    background-color: #183475 !important;*/
/*    color: white;*/
/*}*/
