.loginWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.loginHeader {
    background-color: #626ed4 !important;
}

.loginBtn {
    width: 110px;
}
